<main class="container-fluid">
  <div class="row w-50 p-4">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="getStart()">Start</button>
      <button type="button" class="btn btn-danger" style="margin: 0 10px" (click)="getStop()">Stop</button>
      <button type="button" class="btn btn-dark" (click)="getReset()">Reset</button>
    </div>
    <div class="col">
      <form>
      <input type="number"/>
      <div class="col mt-2 ml-n3">
        <input
          type="radio"
          id="red"
          name="type"
          value="red"
        >
        <label for="contactChoice1" class="ml-2 mr-2">Red</label>
        <input
          type="radio"
          id="black"
          name="type"
          value="black"
        >
        <label for="contactChoice1" class="ml-2 mr-2">Black</label>
        <input
          type="radio"
          id="zero"
          name="type"
          value="zero"
        >
        <label for="contactChoice1" class="ml-2 mr-2">Zero</label>
      </div>
      </form>
      <p><b>Balance: </b>{{ this.balance }}</p>
    </div>
  </div>
</main>
<hr>
<div class="numbers" style="display: inline-block" *ngFor="let number of numbers">
  <p [appColor]="number">{{ number }}</p>
</div>
