.numbers {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 10px 10px;
  text-align: center;
  color: green;
  font-size: 60px;
}

.black {
  background: black;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 10px 10px;
  text-align: center;
  color: green;
  font-size: 60px;
}

.red {
  background: red;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 10px 10px;
  text-align: center;
  color: green;
  font-size: 60px;
}
